In [ ]:
import datetime as dt
import talib as ta
import numpy as np
import matplotlib.pyplot as plt
import pandas_datareader.data as pdr
import yfinance as yf
import pandas as pd
import json

In [5]:
#help function
from datetime import datetime, timedelta

def add_days_to_date(date_str, days):
    # Parse the date string into a datetime object
    date_obj = datetime.strptime(date_str, "%Y-%m-%d")
    
    # Add the desired number of days
    new_date_obj = date_obj + timedelta(days=days)
    
    # Convert the new datetime object back to a string
    new_date_str = new_date_obj.strftime("%Y-%m-%d")
    
    return new_date_str

In [19]:
def get_moving_average(stock_symbol,rise_date, window=20):
    # Fetch historical data
    stock_data = yf.download(stock_symbol, start=add_days_to_date(rise_date, -36), end=rise_date, interval="1d")
    
    # Calculate the moving average
    stock_data['MA20'] = stock_data['Close'].rolling(window=window).mean()
    
    return stock_data

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close   Volume
Date
2024-05-01  34.250000  35.430000  34.169998  34.700001  34.362640  4859400
2024-05-02  35.060001  35.160000  34.639999  34.990002  34.649822  4209200
2024-05-03  35.540001  35.830002  35.327000  35.389999  35.045929  3647300
2024-05-06  35.700001  35.799999  35.349998  35.759998  35.412331  2462300
2024-05-07  35.939999  36.035000  35.540001  35.570000  35.224178  2455400
2024-05-08  35.320000  36.040001  35.310001  35.950001  35.600487  3485200
2024-05-09  35.740002  36.150002  35.660000  36.020000  35.669807  3675100
2024-05-10  36.169998  36.299999  35.900002  36.060001  35.709419  6154800
2024-05-13  36.259998  36.450001  35.875000  35.939999  35.590580  3276200
2024-05-14  36.259998  36.520000  36.099998  36.430000  36.075821  2070500
2024-05-15  36.830002  37.279999  36.560001  36.840000  36.481834  2783800
2024-05-16  36.770000  36.900002  36.500000  36.520000  36.164944  2046500
2024-05-17  36.840000  37.230000  36.584999  37.160000  36.798721  5027700
2024-05-20  37.200001  37.299999  36.389999  36.490002  36.135239  3816400
2024-05-21  36.400002  36.860001  36.400002  36.570000  36.214458  5488500
2024-05-22  36.419998  36.605000  35.889999  35.910000  35.560875  5300700
2024-05-23  35.980000  36.049999  34.959999  35.119999  34.778553  3425800
2024-05-24  35.250000  35.500000  35.139999  35.349998  35.006317  2349500
2024-05-28  35.320000  35.549999  34.480000  34.660000  34.323029  4331900
2024-05-29  33.959999  34.240002  33.584999  34.200001  33.867500  3803100
2024-05-30  34.599998  34.619999  34.099998  34.410000  34.075459  3084700
2024-05-31  34.520000  35.360001  34.480000  35.290001  34.946903  7351200
2024-06-03  35.669998  35.720001  34.389999  34.720001  34.382446  3849200
2024-06-04  34.259998  34.869999  34.040001  34.169998  33.837788  5428700
2024-06-05  34.360001  34.400002  33.884998  34.110001  33.778374  3703300

,Open,High,Low,Close,Adj Close,Volume,MA20
Date,,,,,,,
2024-05-01,34.250000,35.430000,34.169998,34.700001,34.362640,4859400,NaN
2024-05-02,35.060001,35.160000,34.639999,34.990002,34.649822,4209200,NaN
2024-05-03,35.540001,35.830002,35.327000,35.389999,35.045929,3647300,NaN
2024-05-06,35.700001,35.799999,35.349998,35.759998,35.412331,2462300,NaN
2024-05-07,35.939999,36.035000,35.540001,35.570000,35.224178,2455400,NaN
2024-05-08,35.320000,36.040001,35.310001,35.950001,35.600487,3485200,NaN
2024-05-09,35.740002,36.150002,35.660000,36.020000,35.669807,3675100,NaN
2024-05-10,36.169998,36.299999,35.900002,36.060001,35.709419,6154800,NaN
2024-05-13,36.259998,36.450001,35.875000,35.939999,35.590580,3276200,NaN
2024-05-14,36.259998,36.520000,36.099998,36.430000,36.075821,2070500,NaN
2024-05-15,36.830002,37.279999,36.560001,36.840000,36.481834,2783800,NaN
2024-05-16,36.770000,36.900002,36.500000,36.520000,36.164944,2046500,NaN
2024-05-17,36.840000,37.230000,36.584999,37.160000,36.798721,5027700,NaN
2024-05-20,37.200001,37.299999,36.389999,36.490002,36.135239,3816400,NaN
2024-05-21,36.400002,36.860001,36.400002,36.570000,36.214458,5488500,NaN
2024-05-22,36.419998,36.605000,35.889999,35.910000,35.560875,5300700,NaN
2024-05-23,35.980000,36.049999,34.959999,35.119999,34.778553,3425800,NaN
2024-05-24,35.250000,35.500000,35.139999,35.349998,35.006317,2349500,NaN
2024-05-28,35.320000,35.549999,34.480000,34.660000,34.323029,4331900,NaN
2024-05-29,33.959999,34.240002,33.584999,34.200001,33.867500,3803100,35.7815
2024-05-30,34.599998,34.619999,34.099998,34.410000,34.075459,3084700,35.7670
2024-05-31,34.520000,35.360001,34.480000,35.290001,34.946903,7351200,35.7820
2024-06-03,35.669998,35.720001,34.389999,34.720001,34.382446,3849200,35.7485
2024-06-04,34.259998,34.869999,34.040001,34.169998,33.837788,5428700,35.6690
2024-06-05,34.360001,34.400002,33.884998,34.110001,33.778374,3703300,35.5960

In [9]:
def is_ma20_going_up(stock_symbol, rise_date): #when the stock is moving up at this date
    stock_data = get_moving_average(stock_symbol, rise_date)
    
    # Check if the last two MA20 values are increasing
    if stock_data['MA20'].iloc[-1] > stock_data['MA20'].iloc[-2]:
        if stock_data['Close'].iloc[-1] > stock_data['MA20'].iloc[-1]:
            return True
        else:
            return False
    else:
        return False